@charset "UTF-8"; 

@font-face {
	font-family: 'negro';
	src: url('fonte/VarsityTeam-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'negro 2';
	src: url('fonte/Evil\ Empire.otf') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
	--cor1: #eea847;
	--cor2: ;
	--cor3: ;
	

	--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
	--fonte-destaque: 'negro 2', Arial, Verdana,sans-serif;
	--fonte-titulo: 'negro', 'cursive';
}
body{
	background-color: black;
	background-image: url(imagens/djonga\ imagem\ de\ fundo.webp);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
main{
	background-color: rgba(0, 0, 0, 0.473);
	color: rgb(255, 255, 255);
}
header{
	background-image: linear-gradient( to bottom, #eea847, transparent);
	color: var(--cor1);
	text-align: center;
	margin: auto;
	min-height: 150px;
	padding-top: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
}
header >h1{
	font-family:  var(--fonte-destaque);
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: 4.5em; 
	margin: auto;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.623);
}
header p{
	padding-bottom: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.616);
}
nav a:hover{
	background-color: var(--cor1);
	color: black;
	transition-duration: 0.4s;
	border-radius: 5px;
	box-shadow: 2px 2px 8px rgb(255, 255, 255);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}
nav{
	padding: 10px;
	background-color: #000000;
	border-radius: 10px;
}
nav a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: medium;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

}
main{
	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;
	min-width: 150px;
	max-width: 700px;
	text-align: justify; 
	color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.801);
	border-radius: 10px;
	padding: 1px 14px 1px 14px;
	text-align: center;
}
main p{
    font-size: 1.2em;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.616);
}
main a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
main a:hover{
	color: #000000;
    background-color: var(--cor1);
	padding: 8px;
	transition-duration: 0.3s;
	border-radius: 10px;
	box-shadow: 2px 2px 12px rgb(255, 255, 255);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.445);
}
main>h2#titulo{
	font-family: var(--fonte-titulo);
	font-weight: bolder;
	text-align: center;
	font-size: 4em;
	color: var(--cor1);
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}
main h2{
	font-family: var(--fonte-titulo);
	font-weight: bold;
	text-align: center;
	font-size: 2.8em;
	color: var(--cor1);
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}
main h3{
	font-family: var(--fonte-titulo);
	font-weight: bolder;
	font-size: 1.5em;
	color: var(--cor1);
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}
hr{
	border: 2px solid #eea847;
	border-radius: 5px;
	margin: auto;
}
div.video{
	background-color: var(--cor1);
	margin: 0px -10px 30px -10px;
    padding: 20px;
	padding-bottom: 45%;
	position: relative;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.747);
}
div.video > iframe{
    position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
} 
div#voltar{
   text-align: center;
}

footer{
	text-align: center;
	background-color: #080238;
	color: #DD7DF5;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
}
footer >a{
	color: white;
	text-decoration: none;
}
footer>a:hover{
	background-color: #DD7DF5;
	color: black;
	transition-duration: 0.3s;
	border-radius: 8px;
	padding: 2px;
    margin: auto;
}
