@charset "UTF-8"; 

@font-face {
	font-family: 'negro';
	src: url('fonte/VarsityTeam-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'negro 2';
	src: url('fonte/Evil\ Empire.otf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
	--cor1: #DD7DF5;
	--cor2: #9A43B5;
	--cor3: rgb(100, 43, 117);
	--cor4: #080238;
	--cor5: ;
	--cor6: ;

	--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
	--fonte-destaque: 'negro 2', Arial, Verdana,sans-serif;
	--fonte-titulo: 'negro', 'cursive';
}
body{
	background-image: url(imagens/rapimagemdefundo-removebg-preview.png);
	background-color: rgb(255, 255, 255);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	font-family: var(--fonte-padrao);
}
header{
	background-image: linear-gradient( to bottom,  var(--cor2), transparent);
	color: var(--cor1);
	text-align: center;
	margin: auto;
	min-height: 150px;
	padding-top: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
}
header >h1{
	font-family:  var(--fonte-destaque);
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: 4.5em;
	margin: auto;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.623);
}
header p{
	padding-bottom: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.616);
}
nav a:hover{ 
	background-color: var(--cor3);
	color: rgb(255, 255, 255);
	transition-duration: 0.4s;
	border-radius: 5px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.356);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}
nav{
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
}
nav a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bolder;
	font-size: medium;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
    
}
main{
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	margin-top: 16px;
	margin-bottom: 16px;
	min-width: 300px;
	max-width: 1000px;
	text-align: justify; 
	color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.801);
	border-radius: 10px;
	padding: 1px 14px 1px 14px;
	text-align: center;
}
main a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
main a:hover{
    background-color: var(--cor1);
	padding: 8px;
	transition-duration: 0.3s;
	border-radius: 10px;
}
main p{
    font-size: 1.2em;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.616);
}
main>h2#titulo{
	font-family: var(--fonte-titulo);
	font-weight: bolder;
	text-align: center;
	font-size: 4em;
	color: var(--cor1); 
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}

main h2{
	font-family: var(--fonte-titulo);
	font-weight: bold;
	text-align: center;
	font-size: 2.8em;
	color: var(--cor1);
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
}
main h3{
	font-family: var(--fonte-titulo);
	font-weight: bolder;
	font-size: 1.5em;
	color: white;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
	text-align: left;
}
main h3.rap{
	font-family: var(--fonte-titulo);
	font-weight: bolder;
	font-size: 1.5em;
	color: white;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.342);
	text-align: left;
	border-radius: 5px;
	background-image: linear-gradient( to right, var(--cor2), transparent);
}
main > img.art2{
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.253);
	border-radius: 15px;
}
hr{
	border: 2px solid var(--cor1);
	border-radius: 50%;
}
ul > li{
	font-weight: bold;
	text-align: left;
    font-size: 1.1em;
}
ul{
	background-color: var(--cor1);
	border-radius: 15px;
}
ul#curi{
	background-color: rgba(111, 0, 255, 0);
}
ul#curi > li {
	font-size: 16pt;
	text-align: center;
}
ul#curi > p {
	text-align: left;
	margin-left: 0px;
}
div.art{
	background-color: #000000;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	border-radius: 15px;
	min-width: 200px;
	box-shadow: 8px 6px rgba(0, 0, 0, 0.226);
}

div.art a{
	color: white;
	text-decoration: none;
}
div.art a:hover{
	color: #9f04ff;
	transition-duration: 0.5s;
}
div.art1{
	background-color: #000000;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	border-radius: 15px;
	min-width: 200px;
	box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.226);
}

div.art1 a{
	color: white;
	text-decoration: none;
}
div.art1 a:hover{
	color: #ff0404;
	transition-duration: 0.5s;
	background-color: gold;
}
div#voltar{
    text-align: center;
}
footer{
	text-align: center;
	background-color: #080238;
	color: #DD7DF5;
	font-size: large;
	font-weight: bold;
	border-radius: 5px;
}
footer >a{
	color: white;
	text-decoration: none;
}
footer>a:hover{
	background-color: #DD7DF5;
	color: black;
	transition-duration: 0.3s;
	border-radius: 8px;
	padding: 2px;
    margin: auto;
}